Options -MultiViews
RewriteEngine On

# If the file/folder does not exist physically...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# ...send the request to index.php
RewriteRule ^ index.php [QSA,L]